body {
    background-color: #333;
    color: #fff;
    font-family: sans-serif;
}

.board {
    position: relative;
    top:-2px;
    width: fit-content;
    height: fit-content;
}

.square {
    height: 80px;
    width: 80px;
    text-align: center;
    vertical-align: middle;
    position: relative;
}

.square.hovered {
    box-sizing: border-box;
    border: solid 5px rgba(255, 255, 255, 0.65);
}

.dark {
    background-color: #739552;
}

.dark.highlighted {
    background-color: #b9ca43;
}

.light {
    background-color: #ebecd0;
}

.light.highlighted {
    background-color: #f5f682;
}

.piece {
    position: absolute;
    width: 70px;
    height: 70px;
    cursor: grab;
    user-select: none;
    transform: translate(-50%, -50%);
}

.piece.dragging {
    cursor: grabbing;
}

div.hint {
    display: inline-block;
    width: 35%;
    height: 35%;
    background-color: rgba(0, 0, 0, 0.14);
    border-radius: 100%;
}

div.hint.capture {
    width: 75%;
    height: 75%;
    background-color: rgba(0, 0, 0, 0);
    border: solid 12.5px rgba(0, 0, 0, 0.14);
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 100;
}

.board-container {
    display: flex;
    flex-direction: row;
}

.promoter {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.65);
    border-radius: 3px;
    overflow: hidden;
}

.promoter > .img-container {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 7px;
    padding-bottom: 7px;
}

.promoter > :hover {
    background-color: #eee;
    cursor: pointer;
}

.close-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 102px;
    height: 40px;
    background-color: #fff;
}

#close:after {
    display: inline-block;
    font-size: xx-large;
    content: "\00d7";
}

button {
    cursor: pointer;
}

.list-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #000;
    padding: 10px;
    border-radius: 22.5px;
    margin-left:20px;
    height: 650px;
    max-height: 650px;
}

.move-button {
    background-color: #333;
    border-style: solid;
    border-radius: 15px;
    border-color: #8F8F9D;
}

.move-button.resign {
    padding-right: 10px;
    padding-left: 10px;
    color: #fff;
}

.move-button.resign:hover {
    padding-right: 10px;
    padding-left: 10px;
    color: #f00;
}

.move-button.resign:hover > svg > path {
    fill: #f00;
}

.resign {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.move-button:hover {
    border-color: #666;
    background-color: #222;
}

.move-button:disabled {
    background-color: #000;
    cursor: not-allowed;
}

.move-button:disabled:hover {   
    border-color: #8F8F9D;
}

.move-button:disabled > svg > path {
    fill: #777;
}

#movelist {
    position: relative;
    left: 35px;
    /* height: 587px; */
    height: inherit;
    overflow-y: scroll;
    display: block;
}

.move {
    border-radius: 5px;
    width: 50px;
    height: 35px;
    text-align: center;
    cursor: pointer;
    transition: 0.2s;
}

.move:hover {
    background-color: #555;
    transition: 0.2s;
}

.move.highlighted {
    background-color: #777;
}

.eval-bar {
    display: flex;
    width: 20px;
    height: 670px;
    background-color:white;
    align-items:end;
}

.eval-bar-black {
    width: 20px;
    background-color: black;
}

.menu-background {
    height: calc(100vh + 8px);
    width: calc(100vw + 8px);
    background-color: rgba(0, 0, 0, 0.7);
    align-items: center;
    justify-content: center;
    z-index: 100;
    position: fixed;
    top: -8px;
    left: -8px;
}

.menu {
    background-color: white;
    color: black;
    border-radius: 5px;
    padding: 15px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.menu-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-row > button {
    background-color: rgb(59, 59, 59);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    box-shadow: 3px 3px 1px rgba(0, 0, 0, 0.65);
    width: 100px;
}

.menu-row > h2 {
    margin: 10px;
}

.toggle-input {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

.toggle-label {
  display: block;
  width: 30px;
  height: 15px;
  background-color: #ccc;
  border-radius: 300px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}

.toggle-label::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 11px;
  height: 11px;
  background-color: white;
  border-radius: 100%;
  transition: transform 0.2s;
}

.toggle-input:checked + .toggle-label {
  background-color: lightgreen;
}

.toggle-input:checked + .toggle-label::before {
  transform: translateX(15px);
}

.move-timer {
    display: flex;
    height: 50px;
    width: 150px;
    font-size: x-large;
    align-items: center;
    justify-content: center;
}

.move-timer.light {
    background-color: #fff;
    color:#000;
}

.move-timer.dark {
    background-color: #000;
    color:#fff;
}

.colour-select {
    border-radius: 5px;
    cursor:pointer;
    box-sizing: border-box;
}

.colour-select.selected {
    border: 2px solid black;
}

.debug {
    display: none;
}